.overline {
    text-decoration: overline;
}

.default_body_style {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-color: #c8e5bc;
    padding-top: 100px;
}

.navbar {
    background-color: turquoise;
}
