.overline {
    text-decoration: overline;
}

.default_body_style {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-color: #c8e5bc;
}

.navbar {
    background-color: turquoise;
}

.navbar-right {
    margin-right: 1px;
}

.large-size {
    font-size: 27px;
}
