.n-toggle {
    width: 100%;
    border: #EEEEEE solid;
    background-color: #EEEEEE;
    border-radius: 2em;
}

.n-toggle > .toggle-elem {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.n-toggle > .toggle-elem.active {
    background-color: #CCCCCC;
}

.n-toggle > .toggle-elem:first-child {
    border-radius: 2em 0 0 2em;
}

.n-toggle > .toggle-elem:last-child {
    border-radius: 0 2em 2em 0;
}