body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

.display {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.toggle {
	text-align: center;
	width: 100%;
}
