/* 
    Created on : 31 серп. 2015, 13:02:38
    Author     : Naik
*/

.day_col {
    width: 0.746cm;
}

.lesson_number {
    width: 1.2cm;
	background: rgba(170, 170, 220, .1);
}

.lesson_text {

}

.flex-container {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 200px;
}

.flex-container { margin: -20px 0 0 -20px; }
.flex-item > *{ margin: 0 0 0 20px; }    
.flex-container > *{ margin: 20px 0 0 0; }

