/* 
    Created on : 31 серп. 2015, 13:02:38
    Author     : Naik
*/

.day_col {
    width: 0.746cm;
}

.lesson_number {
    width: 1.2cm;
}

.lesson_text {

}

.table-responsive {
    border-collapse: separate;
    border-spacing: 10px;
}

