/* 
    Created on : 31 серп. 2015, 13:02:38
    Author     : Naik
*/

.day_col {
    width: 0.746cm;
}

.lesson_number {
    width: 1.2cm;
    background: rgba(170, 170, 220, .1);
}

.lesson_text {

}

.lesson-time {
    font-style: italic;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.flex-item {
    flex-grow: 1;
    flex-basis: 6cm;
    max-width: 100%;
}

@media screen and (min-width: 27cm) {
    .flex-item {
        max-width: 25%;
    }
}

@media screen and (min-width: 15cm) and (max-width: 27cm){
    .flex-item {
        max-width: 50%;
    }
}


.flex-container { margin: -20px 0 0 -40px; }
.flex-item > *{ margin: 0 0 0 20px; }    
.flex-container > *{ margin: 20px 0 0 0; }

